<div id="mainContent">

    <div class="w3-twothird" id="promoOne">
        <h1>The better enterprise chat</h1>
        <h5 class="w3-padding-32">
        Just because you can't see or hear each other, doesn't mean you can't 'feel' each other...
        <p>
        A faster, smarter, more intuitive way to chat. <strong>{{title}}</strong> 
        evolves your real-time chats into complete collaborative deliverables

        <h1>{{title}} is different </h1>
        <ul class="productFeatures">
            {{#each functionalReqs}}
                <li>{{{this.promo}}}</li>
            {{/each}}
       </ul>
    </div>

    <div class="w3-third w3-center">
        <img src="images/logo.png" id="logo">
    </div>

</div>


